asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
distlib==0.3.7
Django==4.2.4
django-embed-video==1.4.9
filelock==3.12.4
idna==3.4
newsapi-python==0.2.7
Pillow==10.0.0
platformdirs==3.10.0
pytube==15.0.0
pytz==2023.3
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3